.copyright{
    padding-left: 8px;
    padding-right: 6px;
    background: none !important;
}
@media(max-width: 1170px){
    .copyright{
        width: calc(100% - 6px) !important
    }
}


.vk-cpr{
    padding: 25px 15px 20px 20px;
    color: #8e8e8e;
    font-size: 12px;
    background: url(../images/main/copyright.png);
}
@media(max-width: 1170px){
    .vk-cpr{
        padding-left: 0;
    }
}
.vk-cpr a{
    color:inherit !important;
}
.vk-cpr a:hover{
    text-decoration: underline;
}

.vk-cpr__name{
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 5px;
    color:#505050;
}
.vk-cpr__tel{
    color: #0a2268;
    padding-bottom: 5px;
    font-weight: 700;
}
.vk-cpr__tel *{
    font-size: 14px;
}
.vk-cpr__addr,
.vk-cpr__design{
    color:inherit;
}
.vk-cpr__addr{
    padding-bottom: 5px;
}

.main .product a:first-child{
    background: url("../images/main/product_01.jpg") center right no-repeat, #1b3a94;
}

.main .product a:nth-child(2n){
    background: url("../images/main/product_02.jpg") center right no-repeat, #04a1d6;
}

.main .product a:nth-child(3n){
    background: url("../images/main/product_03.jpg") center right no-repeat, #19c57b;
}

.main .product a:nth-child(4n){
    background: url("../images/main/product_04.jpg") center right no-repeat, #04a1d6;
}
.vk-shop-detail__top{
    padding-top: 30px;
}
.vk-shop__list{
    display: flex;
    flex-wrap: wrap;
}
.vk-shop__list .col-xs-2{
    flex: 0 0 calc(100%/2);
    max-width: calc(100%/2);
}
@media(min-width: 992px){
    .vk-shop-detail__top{
        padding-top: 0px;
    }
    .vk-shop__list .col-md-4{
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }
}

@media(min-width: 1200px){
    .vk-shop__list .col-lg-3{
        flex: 0 0 calc(100%/4);
        max-width: calc(100%/4);
    }
}


.vk-product-item{
    margin:15px 0;
    border:1px solid #ddd;
    padding:10px;
}
.vk-product-item__img{
    display: block;
    height: 150px;
    position: relative;
    overflow: hidden;
}

@media(min-width: 992px){
    .vk-product-item__img{
        height: 250px;
    }
}
.vk-product-item__img:hover img{
    transform: scale(1.1);
}
.vk-product-item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.vk-product-item__brief{
    padding-right: 10px;
    text-align: center;
}
.vk-product-item__name{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.6;
}
.vk-product-item__price{
    font-size: 16px;
    color: #0a2268;
}
.pagination > li > a:hover,
.pagination > li > a:focus{
    border-color: #dddddd;
}
.vk-pagination{
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 25px;
}
.pagination span{
    margin-bottom: 0 !important;
}
.pagination > .active > a {
    background-color: #0a2268 !important;
}
.sub_contents h1.title{
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.vk-shop-detail__excerpt{
    /*border-bottom: 1px solid #ddd;*/
    /*margin-bottom: 20px;*/
}
.vk-shop-detail__contact a{
    font-size: 18px;
    font-weight: 700;
    color: #0a2268;
}
body.english .sub.full_container.visual01{
    /*background-size: cover;*/
}
.vk-contact__map iframe{
    width: 100% !important;
}


.vk-home-blog__title{
    color: #505050;
    text-transform: uppercase;
}
.vk-home__cate-label{
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 22px;
    font-weight: 700;
    color: #193c94;
}
.vk-home__cat{
    position: relative;
}
.vk-blog-item{
    margin:15px 0;
}

.vk-blog-item__img{
    position: relative;
    overflow: hidden;
    height: 150px;
    display: block;
}

@media (min-width: 992px){
    .vk-blog-item__img{
        height: 250px;
    }
}
.vk-blog-item__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s;

}
.vk-blog-item__img:hover img{
    transform: scale(1.1);
}
.vk-blog-item__date{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}
.vk-blog-item__brief{
    padding-top: 10px;
}
.vk-blog-item__name{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}
.vk-blog-item__name a{
    color: #505050;
}
.vk-blog-item__content{
    font-size: 14px;
    color: rgb(142, 142, 142);
}

.vk-blog__row{
    display: flex;
    flex-wrap: wrap;
}

.vk-blog__row .col-xs-2{
    flex: 0 0 calc(100%/2);
    max-width: calc(100%/2);
}

@media (min-width: 992px){
    .vk-blog__row .col-md-4 {
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }

}
.vk-blog-relate__list a{
    font-size: 14px;
    font-style: italic;
    padding-bottom: 5px;
    display: block;
    padding-left: 20px;
    position: relative;

}
.vk-blog-relate__list a:before{
    content: '>';
    position: absolute;
    top: 0px;
    left: 5px;
}

