@font-face{
	font-family:"Glyphicons Halflings";
	src:url('/fonts/glyphicons-halflings-regular.eot');
	src:url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('/fonts/glyphicons-halflings-regular.ttf') format('truetype');
url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg')
src:local(※), url('/fonts/glyphicons-halflings-regular.woff') format('woff');
}