.gnb_button {
    position: absolute;
    background: #2482C5;
    border-radius: 10px;
    border: 0px;
    color: #ffffff;
    z-index: 4;
    display: block;
    left: 10px;
    top: 10px;
    width: 60px;
    height: 30px;
}

.gnb {
    position: absolute;
    display: none;
    z-index: 2;
    left: 0;
    top: 0;
    width: 236px;
    height: 100%;
    padding: 0px !important;
}

.gnb {
    background: #ffffff;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.depth02_gnb {
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 0px;
    width: 236px;
    height: 100%;
    padding: 0px !important;
}

.english .depth02_gnb {
    width: 320px;
}

.depth02_gnb > nav {
    background: #0a2268;
    width: 100%;
    height: 100%;
    position: relative;
}

.gnb nav > ul > li.first {
    background: none !important;
}

.gnb nav > ul > li.first > a {
    width: 100%;
    display: block;
    height: 117px;
    position: relative;
    background: url(../images/main/gnb_logo.png);
    background-position: 23px 65px;
    background-repeat: no-repeat;
}

.gnb nav > ul > li.first > a {
    text-align: center;
}

.gnb nav > ul > li.last {
    background: url(../images/main/depth01_last_off_mobile.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.gnb nav > ul > li {
    width: 235px;
    min-height: 59px;
    position: relative;
    background: url(../images/main/depth01_off_mobile.png);
    background-repeat: no-repeat;
}

.gnb nav > ul > li > a {
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 59px;
    line-height: 1.4;
    padding-left: 40px;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 14px;
}

.gnb nav > ul > li.copyright {
    background: url(../images/main/mobile_copyright.png)
}

.chinese .gnb nav > ul > li.copyright {
    background: url(../images/main/mobile_copyright.png)
}

.english .gnb nav > ul > li.copyright {
    background: url(../images/main/mobile_copyright.png)
}

.gnb nav > ul > li.fmaily_site {
    background: url(../images/main/gnb_bg_bottom.png) repeat-y !important;
    height: 140px;
}

.gnb nav > ul > li + li:hover {
    background: url(../images/main/depth01_on.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.gnb nav > ul > li + li:hover a {
    color: #ffffff;
}

.gnb nav > ul > li + li.fmaily_site:hover a,
.gnb nav > ul > li + li.fmaily_site + li:hover a {
    color: #505050;
}

.depth02_gnb nav > ul > li.first {
    height: 50px;
    background: none;
}

.depth02_gnb nav > ul > li {
    width: 236px;
    min-height: 59px;
    position: relative;
    background: #0a2268;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.english .depth02_gnb nav > ul > li {
    width: 320px;
}

.depth02_gnb.depth02_1 nav > ul > li,
.depth02_gnb.depth02_2 nav > ul > li {
    /*background: url(../images/main/depth02_off.jpg);*/
    background-repeat: no-repeat;
    background-position: -14px 0px;
}

.depth02_gnb.depth02_1 nav > ul > li.on,
.depth02_gnb.depth02_2 nav > ul > li.on {
    background: url(../images/main/depth02_on.jpg);
    background-repeat: no-repeat;
    background-position: -14px 0px;
}

.english .depth02_gnb.depth02_1 nav > ul > li,
.english .depth02_gnb.depth02_2 nav > ul > li {
    /*background: url(../images/main/depth02_off.jpg);*/
    background-repeat: no-repeat;
    background-position: 72px 0px;
}

.english .depth02_gnb.depth02_1 nav > ul > li.on,
.english .depth02_gnb.depth02_2 nav > ul > li.on {
    background: url(../images/main/depth02_on.jpg);
    background-repeat: no-repeat;
    background-position: 72px 0px;
}


.depth02_gnb nav > ul > li > a,
.depth02_gnb nav > ul > li > .link {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 59px;
    text-align: left;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.4;
    color: #9aa5c0;
    font-size: 16px;
}

.english .depth02_gnb nav > ul > li > a,
.english .depth02_gnb nav > ul > li > .link {
    font-size: 15px;
}

.depth02_gnb.depth02_0 nav > ul > li > a,
.depth02_gnb.depth02_3 nav > ul > li > a,
.depth02_gnb.depth02_4 nav > ul > li > a,
.depth02_gnb.depth02_5 nav > ul > li > a {
    width: 100%;
}

.depth02_gnb nav > ul > li > button {
    width: 20%;
    height: 59px;
    background: none;
    border: 0px;
    float: left;
}

.depth02_gnb.depth02_01 ul {
    position: relative;
    top: 98px;
}

.depth02_gnb ul {
    margin: 0px;
}

.depth02_gnb .depth03 {
    display: none;
    background: #9aa5c0;
    padding: 20px 0px;
    box-sizing: border-box;
}

.depth02_gnb .depth03 li {
    line-height: 25px;
}

.depth02_gnb .depth03 li a {
    font-size: 13px;
    color: #ffffff;
}

.depth02_gnb .depth03 li a {
    padding-left: 20px;
}

.depth02_gnb .depth03 li a:hover {
    color: #0a2268;
}

.depth02_gnb {
    display: none;
}

.gnb .opacity {
    display: none;
}

@media (min-width: 768px) {
    .depth02_gnb nav > ul > li.first {
        display: none;
    }

    .depth02_gnb {
        left: 236px;
    }

    .gnb {
        display: block;
        border-bottom: 1px solid #e0e0e0;
    }

    .gnb nav > ul > li.first > a {
        height: 97px;
        background: url(../images/main/gnb_logo.png);
        background-position: 23px 30px;
        background-repeat: no-repeat;
    }

}

.gnb nav > ul > li.copyright > a {
    display: none;
}

@media (min-width: 1171px) {
    .gnb_button {
        display: none;
    }

    .gnb .opacity {
        display: block;
        height: 40px;
    }

    .gnb {
        position: absolute;
        width: 253px;
        left: -17px;
        border: 0px;
        background: none;
    }

    .gnb > nav {
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url(../images/main/gnb_bg_bottom.png);
        background-position: 0px 30px;
    }

    .gnb nav > ul {
        position: relative;
        top: -17px;
    }

    .gnb nav > ul > li.first > a {
        background: url(../images/main/gnb_bg_top.png);
    }

    .depth02_gnb {
        left: 230px;
    }

    .gnb nav > ul > li {
        width: 253px;
        background: url(../images/main/depth01_off.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }

    .gnb nav > ul > li.last {
        background: url(../images/main/depth01_last_off.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }

    .depth02_gnb nav > ul > li {
        background: #0a2268;
    }

    .depth02_gnb.depth02_1 nav > ul > li,
    .depth02_gnb.depth02_2 nav > ul > li {
        /*background: url(../images/main/depth02_off.jpg);*/
        background-repeat: no-repeat;
        background-position: -14px 0px;
    }

    .depth02_gnb {
        height: auto;
    }

    .depth02_gnb.depth02_01 ul {
        position: static;
        top: 0px;
    }

    .depth02_gnb.depth02_0 {
        top: calc(120px + 118px);
    }

    .depth02_gnb.depth02_1 {
        top: calc(179px + 118px);
    }

    .depth02_gnb.depth02_2 {
        top: calc(238px + 118px);
    }

    .depth02_gnb.depth02_3 {
        top: calc(297px + 118px);
    }

    .depth02_gnb.depth02_4 {
        top: calc(356px + 118px);
    }

    .depth02_gnb.depth02_5 {
        top: calc(415px + 118px);
    }

    .gnb nav > ul > li.copyright {
        background: url(../images/main/copyright.png);
    }

    .chinese .gnb nav > ul > li.copyright {
        background: url(../images/main/copyright.png);
    }

    .english .gnb nav > ul > li.copyright {
        background: url(../images/main/copyright.png);
    }

    .english .gnb nav > ul > li.copyright {
        position: relative;
    }

    .gnb nav > ul > li.copyright > a {
        display: block;
        top: 48px;
        left: 30px;
        width: 10px;
        height: 10px;
        display: block;
        z-index: 1;
    }

    .gnb nav > ul > li.copyright > a.go_oasis {
        top: 164px;
        width: 90px;
    }
}
