.sub.full_container > .container > div.location {padding-left: 0px; width: 500px; height: 50px; line-height:50px; padding-top: 45%; float: right; text-align:right; }
.english .sub.full_container > .container > div.location {min-width:500px; width: auto;}
.sub.full_container > .container .location02 {display:block; width:100% !important; clear:both !important; margin-bottom:35px;}
.sub.full_container > .container > div.location:after {display:block; content:""; clear:both;}
.sub.full_container > .container > div.location > ol{ display:block; float:right;}
.sub.full_container > .container > div.location > ol > li{min-width:100px; font-size:12px; display:block; float:left; padding-right:50px; background:url(../images/sub/location_arrow.jpg) no-repeat; background-position:top right;}
.sub.full_container > .container > div.location > ol > li:last-child {padding:0px; background:none;}
.sub.full_container > .container > div.location > ol > li:first-child {display:none;}
.english .sub.full_container > .container > div.location > ol > li+li {/*display:none;*/}
.english .sub.full_container > .container > div.location > ol > li+li+li+li {display:block;}
.sub.full_container > .container > div.location > ol > li{ min-width:50px; padding-right:10px; background:none;}

@media (min-width: 1171px)
{
.sub.full_container > .container > div.location {padding-top: 324px;}
.sub.full_container > .container > div.location > ol > li{ min-width:50px; font-size:12px; display:block; float:left; padding-right:50px; background:url(../images/sub/location_arrow.jpg) no-repeat; background-position:top right;}
.sub.full_container > .container > div.location > ol > li:last-child {padding:0px; background:none;}
.sub.full_container > .container > div.location > ol > li:first-child {display:block;}
.sub.full_container > .container > div.location > ol > li:before {display:none;}
.english .sub.full_container > .container > div.location > ol > li+li+li {display:block;}
}

.sub.full_container > .container > div.location .dropdown-menu {padding:10px 0px;}
.sub.full_container > .container > div.location .dropdown-menu > li  {line-height:30px; list-style:none;}
.sub.full_container > .container > div.location .dropdown-menu > li > a { padding: 5px 10px; height:30px; }
.sub.full_container > .container > div.location .dropdown-menu {left:auto; right:0px;}