.main.full_container {
    min-height: 379px;
    height: 100%;
    background: url(../korean/image/main/mobile_visual.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

body.chinese .main.full_container {
    min-height: 379px;
    height: 100%;
    background: url(../chinese/image/main/mobile_visual.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

body.english .main.full_container {
    min-height: 379px;
    height: 100%;
    background: url(../images/main/mobile_visual.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main.full_container > .container {
    position: relative;
    padding-bottom: 60px;
    box-sizing: content-box;
    min-height: 790px;
}

@media (min-width: 1171px) {
    .main.full_container > .container {
        min-height: 100%;
        padding-bottom: 0px;
        box-sizing: border-box;
        overflow: hidden;
    }
}

.main.full_container > .container:after {
    display: block;
    content: "";
    clear: both;
}

.main.full_container > .container > div {
    padding-left: 5px;
    padding-top: 62%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .main.full_container {
        background: url(../korean/image/main/mobile_visual.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 130px 0px;
    }

    body.chinese .main.full_container {
        background: url(../chinese/image/main/mobile_visual.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 130px 0px;
    }

    body.english .main.full_container {
        background: url(../images/main/mobile_visual.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 130px 0px;
    }

    .main.full_container > .container > div {
        padding-left: 246px;
    }
}

@media (min-width: 1171px) {
    .main.full_container {
        min-height: 579px;
        height: 100%;
        background: url(../korean/image/main/main_visual_bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    body.chinese .main.full_container {
        min-height: 579px;
        height: 100%;
        background: url(../chinese/image/main/main_visual_bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    body.english .main.full_container {
        min-height: 579px;
        height: 100%;
        background: url(../images/main/main_visual_bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    .main.full_container > .container > div {
        padding-left: 236px;
        padding-top: 579px;
    }
}


.main .notice {
    position: relative;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    min-height: 150px;
}

.main .notice strong {
    position: absolute;
    height: 150px;
    line-height: 54px;
    padding: 0px 50px 0px 20px;
    border-right: 1px solid #e6e6e6;
    font-size: 19px;
    z-index: 1;
}

.main .notice * {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.main .notice h2 {
    background: #312a2a;
    height: 54px;
    line-height: 54px;
    font-size: 21px;
    font-weight: 600;
    color: #d1d1d1;
    text-indent: 15px;
}

.main .notice h2 a {
    position: relative;
    top: 16px;
    right: 15px;
    display: inline-block;
    float: right;
    width: 19px;
    height: 19px;
    background: url(../korean/image/main/notice_more.html);
}

.main .notice li {
    font-size: 0px;
}

.main .notice .post {
    position: relative;
    height: 54px;
    padding-left: 150px;
}

.main .notice .post + .post {
    display: none;
}

.main .notice .title {
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.main .notice .excerpt {
    overflow: hidden;
    width: 60%;
    text-overflow: ellipsis;
    max-height: 80px;
    font-size: 14px;
    font-style: italic;
}
.main .notice .title span {
    text-indent: 15px;
    display: inline-block;
    width: 100%;
    height: 54px;
    overflow: hidden;
}

.main .notice .date {
    text-align: right;
    display: none;
}

.main .notice .date span {
    display: inline-block;
    float: right;
    margin-right: 15px;
}

.main .notice .title, .main .notice .date {
    position: relative;
    float: left;
    line-height: 54px;
    height: 54px;
    overflow: hidden;
    font-size: 14px;
    vertical-align: top;
}

.main .notice .prev_btn {
    position: absolute;
    top: -1px;
    right: -1px;
}

.main .notice .next_btn {
    position: absolute;
    top: 28px;
    right: -1px;
}

.main .product {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.main .product:after {
    display: block;
    content: "";
    clear: both;
}

.main .product a {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 8% 10px 15px;
    min-height: 50px;
    background-size: 100% !important;
    text-decoration: none !important;

}


@media (min-width: 321px) {
    .main .product a {
        flex: 0 0 50%;
    }

    .main .product {
        margin-bottom: 20px;
    }

    .main .product:after {
        display: block;
        content: "";
        clear: both;
    }


}

@media (min-width: 1171px) {
    .main .notice .date {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 80px
    }

    .main .product a {
        flex: 0 0 25%;
        font-size: 18px;
    }
}

@media (min-width: 1250px) {
    .main .notice .date span {
        display: inline-block;
        float: right;
        margin-right: 55px;
    }

    .main .notice .title {
        width: 80%;
    }
}

.main .bottom_conetent a {
    display: block;
    width: 100%;
    float: left;
}

.main .bottom_conetent a img {
    width: 100%;
}

.main .bottom_conetent:after {
    display: block;
    content: "";
    clear: both;
}

@media (min-width: 1171px) {
    .main .bottom_conetent a {
        display: block;
        width: 47%;
        margin-right: 3%;
        float: left;
    }

    .main .bottom_conetent a + a {
        margin-right: 0px;
        margin-left: 3%;
    }
}


.bbs_font {
    font-family: 'Nanum Gothic';
    font-size: 13px;
}

.bbs_font td {
    color: #505050;
}

.bbs_font td strong {
    color: #808080;
    font-weight: 600;
}

.list_hover a:hover {
    color: #ff0000;
}

.table {
    width: 100%;
    max-width: 100%;
}

.table thead th {
    text-align: center;
}

.public_btn {
    float: right;
    vertical-align: middle;
    margin: 0px;
    margin-left: 5px;
    color: #ffffff;
    background: #0a2268;
    cursor: pointer;
    width: 10%;
    height: 26px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:link {
    text-decoration: none;
}

.gallery_sumimg {
    float: left;
}

.gallery_sumimg .gallery_sumimg_border {
    margin: 3px;
    margin-top: 8px;
}

.gallery_sumimg .gallery_sumimg_border2 {
    border: 4px solid #0a2268;
    margin: 3px;
    margin-top: 8px;
}

.gallery_sumimg_border img {
    margin: 0;
    padding: 0;
    float: left;
    width: 346px;
    height: 260px;
    margin-top: 30px;
}

.gallery_sumimg_border2 img {
    margin: 0;
    padding: 0;
    float: left;
    width: 204px;
    height: 153px;
}

.ct_width100 img {
    max-width: 900px;
}

.ct_width100 {
    font-weight: 100;
}

.img_width100 {
    text-align: left;
    font-weight: 100;
}

.img_width100 img {
    display: inline-block;
    max-width: 100%;
    height: 100% !important;
}

.img_width100 p {
    padding: 0px;
    margin: 0px;
}

/* border list numbering class */

.numbering a {
    display: inline-block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin: 2px;
    border-radius: 0px;
    color: #808080;
    font-weight: 600;
    border: 1px solid #eaeaea;
    background: #fff;
    cursor: pointer;
}

.numbering a.on {
    color: #505050;
    border-bottom: 2px solid #0a2268;
    width: 40px;
}

.numbering a.next, .numbering a.prev {
    width: 40px;
}

.numbering {
    text-align: center;
    height: 30px;
}

.colLine {
    text-align: center;
    margin-top: 1%;
}

.tdBottom {
    float: left;
    border-bottom: solid 1px #cccccc;
    height: 41px;
    line-height: 41px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contnets_right {
    padding-bottom: 30px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.button_list,
.prev_td {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    line-height: 50px !important;
}

.next_td {
    border: 0px !important;
    padding-top: 0px !important;
    line-height: 50px !important;
}

.bbs_font h3 {
    border: 0px;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 16px;
    font-size: 16px;
}

.bbs_font h3 .label {
    font-size: 16px;
    font-weight: normal;
    background: #505050;
}

.bbs_font .reple span {
    margin-left: 20px;
}

.bbs_font th,
.bbs_font td {
    vertical-align: middle !important;
}

.bbs_font > div.bbs_list {
    border-top: 1px solid #CCC;
}

.bbs_font .none-font {
    font-size: 0px;
}

.bbs_font .bbs_font .input_3 {
    width: 30%;
    max-width: 100px;
    margin-right: 10px;
}

.bbs_font .row > div > * {
    vertical-align: middle;
}


.bbs_font > .row + table {
    margin: 0px;
    margin-top: 5px;
}

.bbs_font .bbs_font .input_3 + .input_3 + .input_3 {
    margin-right: 0px;
}


html .board_thead {
    border-color: #5a5a5a !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    word-break: keep-all;
    word-wrap: break-word;
}

html .board_thead {
    border-color: #5a5a5a !important;
    border-bottom: 1px solid #5a5a5a !important;
}

.thum_list > td {
    padding-top: 10px;
    padding-bottom: 15px;
}

html .board_thead + td {
    padding-left: 15px !important;
}

.bbs_font .border-bottom-none {
    border-bottom: 0px !important;
}

.bbs_font .border-top-none {
    border-top: 0px !important;
}

html .label-warning.delete {
    margin-left: 3px;
}

.bbs_font input {
    display: inline-block;
}

.post_count.form-control {
    max-width: 25px;
    padding: 3px 3px;
    font-size: 10px;
}

html body .bbs_font td.prev_td, html body .bbs_font td.next_td {
    border: 0px !important;
}

.mark_width {
    display: inline-block;
    height: 1px;
}

.row > ul > li > a.btn.btn-default {
    position: relative;
    top: -25px;
}


.numbering_paging div {
    height: 52px;
    line-height: 52px;
    background: #fbfbfb;
    border: 1px solid #dfdfdf;
    margin-top: 35px;
    margin-bottom: 5px;
}

.numbering_paging a:focus, .numbering_paging a:hover {
    text-decoration: none;
}

.numbering_paging a {
    font-size: 13px;
    padding-left: 2px;
    padding-right: 2px;
}

.button_list a + a {
    margin-left: 7px;
}

@media (min-width: 768px) {
    .numbering_paging a {
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.numbering_paging a.on {
    color: #0d3a99;
    font-weight: 600;
}

.numbering_paging .next {
    float: right;
    margin-right: 35px;
}

.numbering_paging .prev {
    float: left;
    margin-left: 35px;
}

.button_list div {
    margin-top: 35px;
}

.bbs_font .bx-wrapper {
    padding-top: 35px;
}