.sub.full_container {min-height:379px; height: 100%;}

.sub.full_container.visual01 {background:url(../images/sub/mobile_sub_visual01.jpg); background-repeat:no-repeat; background-size:100%; }
.sub.full_container.visual02 {background:url(../images/sub/mobile_sub_visual02.jpg); background-repeat:no-repeat; background-size:100%; }
.sub.full_container.visual03 {background:url(../images/sub/mobile_sub_visual03.jpg); background-repeat:no-repeat; background-size:100%; }
.sub.full_container.visual04 {background:url(../images/sub/mobile_sub_visual04.jpg); background-repeat:no-repeat; background-size:100%; }
.sub.full_container.visual05 {background:url(../images/sub/mobile_sub_visual05.jpg); background-repeat:no-repeat; background-size:100%; }
.sub.full_container.visual06 {background:url(../images/sub/mobile_sub_visual06.jpg); background-repeat:no-repeat; background-size:100%; }
body.chinese .sub.full_container.visual01 {background:url(../images/sub/mobile_sub_visual01.jpg); background-repeat:no-repeat; background-size:100%; }
body.chinese .sub.full_container.visual02 {background:url(../images/sub/mobile_sub_visual02.jpg); background-repeat:no-repeat; background-size:100%; }
body.chinese .sub.full_container.visual03 {background:url(../images/sub/mobile_sub_visual03.jpg); background-repeat:no-repeat; background-size:100%; }
body.chinese .sub.full_container.visual04 {background:url(../images/sub/mobile_sub_visual04.jpg); background-repeat:no-repeat; background-size:100%; }
body.chinese .sub.full_container.visual05 {background:url(../images/sub/mobile_sub_visual05.jpg); background-repeat:no-repeat; background-size:100%; }
body.chinese .sub.full_container.visual06 {background:url(../images/sub/mobile_sub_visual06.jpg); background-repeat:no-repeat; background-size:100%; }

body.english .sub.full_container.visual01 {background:url(../images/sub/mobile_sub_visual01.jpg); background-repeat:no-repeat; background-size:100%; }
body.english .sub.full_container.visual02 {background:url(../images/sub/mobile_sub_visual02.jpg); background-repeat:no-repeat; background-size:100%; }
body.english .sub.full_container.visual03 {background:url(../images/sub/mobile_sub_visual03.jpg); background-repeat:no-repeat; background-size:100%; }
body.english .sub.full_container.visual04 {background:url(../images/sub/mobile_sub_visual04.jpg); background-repeat:no-repeat; background-size:100%; }
body.english .sub.full_container.visual05 {background:url(../images/sub/mobile_sub_visual05.jpg); background-repeat:no-repeat; background-size:100%; }
body.english .sub.full_container.visual06 {background:url(../images/sub/mobile_sub_visual06.jpg); background-repeat:no-repeat; background-size:100%; }


.sub.full_container > .container { position:relative; padding-bottom: 60px; box-sizing: content-box;}

@media (min-width: 1171px)
{
	.sub.full_container > .container {padding-bottom:0px;}
}

.sub.full_container > .container:after {display:block; content:""; clear:both;}
.sub.full_container > .container > div { padding-left:5px; padding-top:52%; box-sizing:border-box;}
.sub.full_container > .container > div.get_top {padding-top:40px;}

@media (min-width: 500px)
{
	.sub.full_container > .container > div { padding-left:5px; padding-top:48%; box-sizing:border-box;}
}

@media (min-width: 768px)
{
	.sub.full_container > .container > div { padding-left:246px;}
	.sub.full_container > .container > div.get_top {padding-top:40px; padding-left: 266px;}
	.sub.full_container > .container > div { padding-left:5px; padding-top:52%; box-sizing:border-box;}
}

@media (min-width: 1171px)
{
	.sub.full_container {min-height:579px; background:url(../images/sub/sub_visual01.jpg); background-repeat:no-repeat; background-position:top center;}
	.sub.full_container > .container > div { padding-left:236px; padding-top:389px;}

	.sub.full_container.visual01 {background:url(../images/sub/sub_visual01.jpg); background-repeat:no-repeat; background-position: top center;}
	.sub.full_container.visual02 {background:url(../images/sub/sub_visual02.jpg); background-repeat:no-repeat; background-position: top center;}
	.sub.full_container.visual03 {background:url(../images/sub/sub_visual03.jpg); background-repeat:no-repeat; background-position: top center;}
	.sub.full_container.visual04 {background:url(../images/sub/sub_visual04.jpg); background-repeat:no-repeat; background-position: top center;}
	.sub.full_container.visual05 {background:url(../images/sub/sub_visual05.jpg); background-repeat:no-repeat; background-position: top center;}
	.sub.full_container.visual06 {background:url(../images/sub/sub_visual06.jpg); background-repeat:no-repeat; background-position: top center;}
    body.chinese .sub.full_container.visual01 {background:url(../images/sub/sub_visual01.jpg); background-repeat:no-repeat; background-position: top center;}
    body.chinese .sub.full_container.visual02 {background:url(../images/sub/sub_visual02.jpg); background-repeat:no-repeat; background-position: top center;}
    body.chinese .sub.full_container.visual03 {background:url(../images/sub/sub_visual03.jpg); background-repeat:no-repeat; background-position: top center;}
    body.chinese .sub.full_container.visual04 {background:url(../images/sub/sub_visual04.jpg); background-repeat:no-repeat; background-position: top center;}
    body.chinese .sub.full_container.visual05 {background:url(../images/sub/sub_visual05.jpg); background-repeat:no-repeat; background-position: top center;}
    body.chinese .sub.full_container.visual06 {background:url(../images/sub/sub_visual06.jpg); background-repeat:no-repeat; background-position: top center;}

	body.english .sub.full_container.visual01 {background:url(../images/sub/sub_visual01.jpg); background-repeat:no-repeat; background-position: top center;}
    body.english .sub.full_container.visual02 {background:url(../images/sub/sub_visual02.jpg); background-repeat:no-repeat; background-position: top center;}
    body.english .sub.full_container.visual03 {background:url(../images/sub/sub_visual03.jpg); background-repeat:no-repeat; background-position: top center;}
    body.english .sub.full_container.visual04 {background:url(../images/sub/sub_visual04.jpg); background-repeat:no-repeat; background-position: top center;}
    body.english .sub.full_container.visual05 {background:url(../images/sub/sub_visual05.jpg); background-repeat:no-repeat; background-position: top center;}
    body.english .sub.full_container.visual06 {background:url(../images/sub/sub_visual06.jpg); background-repeat:no-repeat; background-position: top center;}

	.sub_contents {min-width:917px; padding-left: 30px !important;}
}


.sub .table-responsive,
.sub .money_table .container {max-width:917px;}


.sub_contents h1.title,
.sub_contents h2.title,
.sub_contents h3.title,
.sub_contents h4.title {background:url(../images/sub/title_bg.jpg); background-repeat:no-repeat; padding-left:25px; line-height:29px; font-size:26px; }

.sub_contents h2.title02,
.sub_contents h3.title02,
.sub_contents h4.title02 { font-size:21px; color:#0a2268; font-weight:600; position:relative; left:-3px; margin-bottom:20px; }

.sub_contents h2.title02:before,
.sub_contents h3.title02:before,
.sub_contents h4.title02:before { content:"·"; position:relative; left:3px; }
.sub_contents h2.title02:after,
.sub_contents h3.title02:after,
.sub_contents h4.title02:after { content:"·"; position:relative; right:3px; }

.sub_contents.design hr {width:100%; height:1px; background:#dadada; border:0px; margin:50px 0px; padding:0px;}
.sub_contents.design .margin_height {height:30px;}


.sub_contents.design.catal {position:relative;}

.sub_contents.design .catal_btn {display:block; width:185px; margin:auto; margin-top:20px;}
.sub_contents.design .glyphicon {font-size: 19px; top: 4px;}
@media (min-width: 768px)
{
	.sub_contents.design .catal_btn {position:absolute; top:70%; left:7%; display:block; width:195px;}
}



.sub_contents.design.product dd {display:none; clear:both; background:#f4f2f2;}
.sub_contents.design.product dd div.con {padding:20px 20px;}
.sub_contents.design.product dt.active,
.sub_contents.design.product dt.active+dd {display:block;}
.sub_contents.design.product dt {height:58px; clear:both; box-sizing:border-box; border-right:1px solid #dedede; border-left:1px solid #dedede; background:url(../images/sub/product_dt_off.jpg); background-repeat:repeat-x;}
.sub_contents.design.product dt.last {background:url(../images/sub/product_dt_last_on.jpg); background-repeat:repeat-x;}
.sub_contents.design.product dt:after {display:block; content:""; clear:both;}
.sub_contents.design.product dt:hover {cursor:pointer;}
.sub_contents.design.product dt.active {border-right:1px solid #004890; border-left:1px solid #004890; background:url(../images/sub/product_dt_on.jpg); background-repeat:repeat-x;}
.sub_contents.design.product dt.active > strong {color:#cddaff;}
.sub_contents.design.product dt.active > strong:hover {cursor:pointer;}
.sub_contents.design.product dt > * {float:left;}
.sub_contents.design.product dt > strong {display:block; width:70%; font-size:15px; color:#505050; font-weight:600; line-height:59px; box-sizing:border-box; padding-left:15px;}
.sub_contents.design.product dt > div {display:none; float:left; width:50%; text-align:right; box-sizing:border-box; padding-right:15px; margin-top: 13px;}
.sub_contents.design.product dt > div:after {display:block; content:""; clear:both;}
.sub_contents.design.product dt > button {height:57px; width:6%; min-width:65px; float:left; border:0px; margin-top:1px; float:right; background:url(../images/sub/product_dt_arrow_off.jpg); background-repeat:no-repeat; background-position:middle right;}
.sub_contents.design.product dt.active > button {background:url(../images/sub/product_dt_arrow_on.jpg); background-repeat:no-repeat; background-position:top right;}
.sub_contents.design.product dt > div a {float:right; margin-right:5px;}
.sub_contents.design.product dt > div:after {content:""; display:block; clear:both;}

@media (min-width: 1171px)
{
	.sub_contents.design.product dt > div a {margin-right:2px;}
}


.sub_contents.design.product dd .btn_group {display:block; padding: 20px 20px;}
.sub_contents.design.product .tds_down_btn,
.sub_contents.design.product .catal_down_btn {height:30px; line-height:30px; border:1px solid #e3e3e3; background:#ffffff; padding:0px 25px 0px 5px; font-size:11px; background-image:url(../images/sub/down_btn.jpg); background-repeat:no-repeat; background-position:95% 50%;}
.sub_contents.design.product .product_detail_btn {height:30px; line-height:30px; border:1px solid #ffde27; background:#ffde27; padding:0px 5px 0px 5px; font-size:11px; color:#8d5c15; }
.english .sub_contents.design.product .tds_down_btn,
.english .sub_contents.design.product .catal_down_btn {padding:0px 5px 0px 5px; font-size:11px; background-image:none;}
.english .sub_contents.design.product .product_detail_btn {padding:0px 5px 0px 5px; font-size:11px; color:#8d5c15; background-image:none;}
.sub_contents.design.product dd .btn_group > a {float:left; margin-right:5px; min-width: 138px;}
.english .sub_contents.design.product dd .btn_group > a {min-width: 98px;}
.sub_contents.design.product dd .btn_group:after {content:""; display:block; clear:both;}
.sub_contents.design.product dd hr {width:100%; height:1px; background:#dadada; border:0px; margin:0px; padding:0px;}
.sub_contents.design.product dd div.con div {box-sizing:border-box; padding-left:10px;}
.sub_contents.design.product dd div.con strong {font-size:16px; color:#0a2268;}


.sub_contents.design.product .title02 {margin-top:50px; overflow:hidden; position:relative; padding-left:18px;}
.sub_contents.design.product.style02 .title02 {margin-top:0px;}
.sub_contents.design.product .title02:after {display:none;}
.sub_contents.design.product .title02:before {content:" "; display:block; position:absolute; width:3px; height:70px; margin-right:10px; overflow:hidden; background:#0a2268;}

.sub_contents.design.product .title03 {margin:20px 0px 15px 0px; overflow:hidden; position:relative; font-size:18px; font-weight:600; color:#165598;}
.sub_contents.design.product.style03 .title03 {margin-top:0px;}
.sub_contents.design.product .title03:after {display:none;}
.sub_contents.design.product .title03:before {content:"· "; background:none; color:#165598;}


.sub_contents.design.product .max_image {max-width:213px;}
.sub_contents.design.product .visible_hidden {visibility:hidden; font-size:25px;}
.sub_contents.design.product img {max-width:768px;}

.sub_contents.design.product.style02 .location02+div > ul > li {font-size:17px; line-height:25px;}
.sub_contents.design.product.style02 > div {margin-bottom:30px;}
.sub_contents.design.product.style02 img {display:block;}
.sub_contents.design.product.style02 .con strong {display:block; margin:10px 0px 5px 0px; font-size:15px; color:#165598;}
.sub_contents.design.product.style02 .con li em {display:block; font-style:normal; font-weight:600;}
.english .sub_contents.design.product.style02 .con li em {margin-bottom:3px;}
.sub_contents.design.product.style02 .con li {margin-top:0px;}
.sub_contents.design.product.style02 .con li+li {margin-top:5px;}
.sub_contents.design.product.style02 table {border-collapse: collapse;}
.sub_contents.design.product.style02 table tr > td {border-bottom: 1px solid #dddddd; min-width:190px;}
.sub_contents.design.product.style02 table tr > th {border-bottom: 1px solid #2B6BAF; border-top: 1px solid #2B6BAF; background:#0A488A; font-size:15px; font-weight:600; color:#ffffff; vertical-align:middle;}
.sub_contents.design.product.style02 table tr > th {border-right: 1px solid #2B6BAF; text-align:center;}
.sub_contents.design.product.style02 table tr > th:last-child {border-right: 0px;}
.sub_contents.design.product.style02 table tr > td {border-right: 1px solid #dddddd; vertical-align:middle;}
.sub_contents.design.product.style02 table tr > td:first-child {border-left: 1px solid #dddddd;}
.sub_contents.design.product.style02 table tr > td.th {text-align:center; border-bottom: 1px solid #223B84; border-top: 1px solid #0a2268; background:#0a2268; color:#D9E1FF; border-left: 0px;}
.sub_contents.design.product.style02 table tr > td.th_right {text-align:center; border-bottom: 1px solid #223B84; border-top: 1px solid #0a2268; background:#0a2268; color:#D9E1FF; border-right: 0px;}
.sub_contents.design.product.style02 .certificate:hover {cursor:pointer;}
.sub_contents.design.product.style02 .certificate {max-width: 230px;border: 1px solid #e0e0e0;margin: 30px 20px; margin-top:0px; margin-left: 0px;}


.sub_contents.design.product.style03 .clearfix {height:50px; clear:both;}
.sub_contents.design.product.map .body_copy {max-width:2000px;}
.sub_contents.design.product .body_copy.style02 {max-width:2000px; padding:15px; font-size:18px;}
.sub_contents.design.product .body_copy {display:block; background:#f0f0f0; box-sizing:border-box; padding:15px; margin-bottom:25px; border-radius:30px; font-size:19px; text-align:center;}
@media (min-width: 768px)
{
	.sub_contents.design.product.style02 .con em:after {content:": "; float:right; position:relative; left:-5px;}
	.english .sub_contents.design.product.style02 .con em {overflow:hidden;}
	.english .sub_contents.design.product.style02 .con em:after {content:"";height: 300px;width: 2px;background: #808080;display: inline-block; display: inline-table;position: absolute !important;top: 0px;right: 5px !important; left:auto !important;}
	.sub_contents.design.product dt > strong {width:40%; font-size:15px; padding-left:25px;}
	.english .sub_contents.design.product dt > strong {font-size:15px;}
}

@media (min-width: 1171px)
{
	.sub_contents.design.product .body_copy {max-width:790px;}
	.sub_contents.design.product .body_copy.style02 {max-width:2000px; padding:30px;}
	.sub_contents.design.product.style04 .body_copy {max-width:825px;}
	.sub_contents.design.product dt > div {display:block;}
	.sub_contents.design.product dd .btn_group {display:none;}
	.sub_contents.design.product dt > strong {width:46%; font-size:15px; padding-left:25px;}
	.english .sub_contents.design.product dt > strong {font-size:11px;}
	.sub_contents.design.product dt > div {width:46%; padding-right:0px;}
	
	.english .sub_contents.design.product dt > strong {width:52%;font-size:15px;}
	.english .sub_contents.design.product dt > strong.too_long {width:52%;font-size:15px; position: relative; top: 8px; line-height: 20px;}
	.english .sub_contents.design.product dt > div {width:40%;}
	.english .sub_contents.design.product .tds_down_btn,
	.english .sub_contents.design.product .catal_down_btn {padding:0px 5px 0px 5px; font-size:11px;}
	.english .sub_contents.design.product .product_detail_btn {padding:0px 5px 0px 5px; font-size:11px; color:#8d5c15; }
}

.sub_contents.design.product.style04 div.item {text-align:center; margin-bottom:25px;}
.sub_contents.design.product.style04 strong {margin-top:10px; font-size:18px; font-weight:600; text-align:center;}
.sub_contents.design.product.style04 div.item > img {margin:auto; width: 100%; max-width:200px;}

@media (min-width: 768px)
{
	.sub_contents.design.product.style04 div.item > img {max-width:none;}
}

.sub_contents.design.product .laboratory01 {margin-top:20px; width:100%; max-width:560px;}
.sub_contents.design.product .laboratory02 {margin-top:20px; width:100%; max-width:1075px;}


.holl_slider, .holl_carousel {position:relative;}

.sub_contents.design .next,.sub_contents.design .prev {position:absolute; display:block; top:50%; width:60px; height:60px; text-align:center; background:#1F2F5D; line-height:60px; margin-top:-30px;}
.sub_contents.design .next {right:10px;}
.sub_contents.design .prev {left:10px;}


.sub_contents.design .next:hover,.sub_contents.design .prev:hover { background:#223B84; }

.sub_contents.design .next:before {content: "\e080"; font-family: 'Glyphicons Halflings'; font-size:35px; color:#ffffff;}
.sub_contents.design .prev:before {content: "\e079"; font-family: 'Glyphicons Halflings'; font-size:35px; color:#ffffff;}

.holl_carousel img,.holl_slider img {display:none;}

.holl_carousel .next,.holl_carousel .prev {width:30px; height:30px; margin-top:-30px; line-height:30px;}
.holl_slider:hover .next ,.holl_slider:hover .prev {visibility:visible;}
.holl_carousel .next:before {content: "\e080"; font-family: 'Glyphicons Halflings'; font-size:18px; color:#ffffff;}
.holl_carousel .prev:before {content: "\e079"; font-family: 'Glyphicons Halflings'; font-size:18px; color:#ffffff;}

.holl_slider .item {position:relative;}
.holl_slider .item img {width:100%;}
.holl_slider .item .picture_name { position:absolute; width:100%; bottom:0px; padding:15px; background:#223B84; color:#fff; font-size:18px;}

.holl_carousel { margin: 0px !important; }

.holl_carousel img {max-height:100px;}
.holl_carousel .picture_name{height:60px; line-height:40px; background:#223B84; text-align:center; padding:10px; color:#ffffff; font-size:15px;}
.holl_carousel .picture_name_2{height:60px; line-height:20px; background:#223B84; text-align:center; padding:10px; color:#ffffff; font-size:15px;}
.holl_carousel .flex-active-slide .picture_name{background:#1F2F5D;}
.holl_carousel .flex-active-slide .picture_name_2{background:#1F2F5D;}

.holl_carousel{	display:none;}

@media (min-width: 768px)
{
	.holl_carousel{	display:block;}
}


.sub_contents.design.product.style02.equipment .con strong {margin:0px;}
.sub_contents.design.product.style02.equipment .con li {margin-top:15px;}
.sub_contents.design.product.style02.patent .con strong {margin:0px;}
.sub_contents.design.product.style02.patent .con li {margin-top:15px;}



.sub_contents.design.introduce p {display:block; margin-bottom:20px;}
.sub_contents.design.introduce div img {width:100%; display:none;}
.sub_contents.design.introduce div img.mobile_img {display:block;}
@media (min-width: 1171px)
{
	.sub_contents.design.introduce div img {width:90%; display:block;}
	.sub_contents.design.introduce div img.mobile_img {width:100%; display:none;}
	.sub_contents.design.introduce div {width:50%; float:left;}
	.sub_contents.design.introduce:after {display:block; content:""; clear:both;}
}

.sub_contents.design.introducte01 em {font-style:normal; text-decoration:underline;}
.sub_contents.design.introducte01 div.group01 {box-sizing:border-box; padding:20px; background:#f0f0f0; border-radius:30px; margin-bottom:20px;}
.sub_contents.design.introducte01 div.group01 strong,
.sub_contents.design.introducte01 strong {display:block; margin-bottom:5px; color:#0a2268; font-size:16px;}
.sub_contents.design.introducte01 div > img {max-width:230px; border:1px solid #e0e0e0; margin:30px 20px; margin-left:0px;}
.sub_contents.design.introducte01 div > img+img {margin:0px;}
.sub_contents.design.introducte01 div > img:hover {cursor:pointer;}

.sub_contents.design.history h2.history_title,
.sub_contents.design.history h3.history_title,
.sub_contents.design.history h4.history_title,
.sub_contents.design.history span.year,
.sub_contents.design.history span.month{ font-size:16px; color:#0a2268; font-weight:600; position:relative; margin-bottom:7px; }
.sub_contents.design.history p {margin:0px;}


@media (min-width: 768px)
{
	.sub_contents.design.history .title02 {display:inline-block; *display: inline-table; vertical-align:top; width:20%; min-height:30px; margin:0px; padding:0px;}
	.sub_contents.design.history .title02+div {display:inline-block; *display: inline-table; vertical-align:top; width:70%; min-height:30px; margin:0px; padding:0px;}
	.sub_contents.design.history hr {clear:both;}
	.sub_contents.design.history .hidden {display:inline-block !important; visibility:hidden !important;}
	.sub_contents.design.history .hidden {display:inline-table !important \0/IE8;}
	.sub_contents.design.history h3.history_title {width:20%; float:left; margin:0px;}
	.sub_contents.design.history h3.history_title+div {width:80%; float:left;}
	.sub_contents.design.history .clearfix {margin:20px 0px;}
}
@media (min-width: 1191px)
{
	.sub_contents.design.history h3.history_title {width:10%; float:left; margin:0px;}
	.sub_contents.design.history h3.history_title+div {width:90%; float:left;}
}

.sub_contents.design.group .big_group {box-sizing:border-box; padding:30px; border:2px solid #e0e0e0; border-radius:20px;}
.sub_contents.design.group h3 {font-size:30px; background:#0a2268; color:#ffffff; text-align:center; margin:0px; margin-bottom:20px; padding:15px 30px;  width:200px; border-radius:20px;}

.sub_contents.design.group .big_group > ul > li > ul > li {padding:10px; background:#f9f9f9 !important; border:1px solid #dddddd; margin-bottom:20px; border-radius:20px;}
.sub_contents.design.group .big_group > ul > li > ul > li:after {content:""; display:block; clear:both;}

.sub_contents.design.group .big_group > ul > li > ul > li > ul > li {padding:10px; background:#f9f9f9 !important; border:1px solid #dddddd; margin-bottom:20px; border-radius:20px;}
.sub_contents.design.group .big_group > ul > li > ul > li > ul > li:after {content:""; display:block; clear:both;}

.sub_contents.design.group .big_group > ul > li > ul > li > ul > li > ul > li {padding:10px; background:#e9e9e9 !important; border:1px solid #dddddd; margin-bottom:20px; border-radius:20px;}
.sub_contents.design.group .big_group > ul > li > ul > li > ul > li > ul > li:after,
.sub_contents.design.group .big_group > ul > li > ul > li > ul > li > ul > li strong:after{content:""; display:block; clear:both;}

.sub_contents.design.group li li li strong {box-sizing:border-box;}
.sub_contents.design.group li li li li strong {box-sizing:border-box;}
.sub_contents.design.group li li li li li strong {margin:0px;}
.sub_contents.design.group ul ul {background:none; background-repeat:repeat-y;}

.sub_contents.design.group li:first-child {padding-top:0px;}
.sub_contents.design.group > ul > li > ul > li > ul > li+li {padding-top:20px;}
.sub_contents.design.group li li li li li {padding-top:0px;}
.sub_contents.design.group li:last-child ul {padding:0px;}
.sub_contents.design.group ul,
.sub_contents.design.group ul li {display:block; height:100%; min-height:35px; margin-top:0px; display:block; background:none; background-repeat:repeat-y;}
.sub_contents.design.group ul li { background-repeat:repeat-y;}

/*.sub_contents.design.group > ul > li > ul > li > ul > li:before { background:url(/images/sub/mobile_group_line_h.jpg); background-repeat:repeat-x; background-position:0px 4px;}
.sub_contents.design.group ul li li li:before {content:""; margin-left:2px; display:block; float:left; width:30px; height:30px;}
.sub_contents.design.group ul li li li li:before {content:""; margin-left:2px; display:block; float:left; width:30px; height:30px; }
.sub_contents.design.group ul li li li li li:before {width:50px;}
.sub_contents.design.group ul li li li li li strong:before {height:5px; background:none;}*/
.sub_contents.design.group ul li li li li li strong:after,
.sub_contents.design.group ul li.none_after strong:after{display:none !important;}
.sub_contents.design.group > ul > li > ul > li > strong {margin-top:30px;}
.sub_contents.design.group > ul > li:first-child > ul > li:first-child > strong {margin-top:0px; margin-bottom:30px;}
.sub_contents.design.group > ul > li:last-child > ul > li:last-child > strong {margin-top:30px;}
.sub_contents.design.group ul li {clear:both;}
.sub_contents.design.group strong {display:block; float:left; width:150px; background: #4A5F9C; border-bottom:1px solid #4846B5; text-align:center; min-height:35px; line-height:35px; font-size:19px; color:#ffffff;border-radius:10px;}
.sub_contents.design.group strong.depth02 {background: #0A6368; border-bottom:1px solid #3D9196; }
.sub_contents.design.group strong.depth03 {background: #6F9BC1; border-bottom:1px solid #4F78AB; }
.sub_contents.design.group strong.depth04 {background: #4CA9AF; border-bottom:1px solid #3D9196; }
.sub_contents.design.group strong.last.depth04 {margin-bottom:10px;}


@media (min-width: 1171px)
{
	
	.sub_contents.design.group ul ul ul {display:block; float:left;}
    .sub_contents.design.group ul ul ul {margin-left:20px;}
	/*.sub_contents.design.group ul li li li li:before {content:""; margin-left:2px; display:block; float:left; width:30px; height:30px;}
	.sub_contents.design.group ul li li li li strong:before {display:none !important;}
	.sub_contents.design.group ul li li li li strong:after {display:none !important;}*/
	
	.sub_contents.design.group ul ul li {display:block; height:100%; min-height:35px; margin-top:0px; display:block; background:none !important;}
	.sub_contents.design.group h3 {margin: 20px auto;}
}

.sub_contents.design.map li * {font-size:15px;}
.sub_contents.design.map li:last-child span {margin-bottom:0px;}
.sub_contents.design.map li em {display:block; font-style:normal; font-weight:600; font-size:19px; color:#0a2268;}
.sub_contents.design.map li span {display:block; margin-bottom:10px;}

.money_table table tr:last-child td {border-bottom: 1px solid #dddddd;}
.money_table table.table > tbody > tr+tr+tr.style02 th,
.money_table table.table > tbody > tr+tr+tr.style02 span { background: #6485C3; border-color:#6485C3; color: #EBEFF9; font-size:15px;}
.money_table table.table > tbody > tr+tr+tr.style02 th:before,
.money_table table.table > tbody > tr+tr+tr.style02 span:before {content:"- ";}
.money_table table.table > tbody > tr+tr+tr.style02 th+th:before {display:none;}

.money_table table.table > tbody > tr+tr+tr.style03 * {font-weight:600; font-size:15px; background: #EBEFF9; border-color:#D4DBEA; color: #6485C3;}

.money_table table.table > tbody > tr th {background:#0a2268; color:#ffffff; border-top: 1px solid #243E8A; border-bottom: 1px solid #243E8A; border-right: 1px solid #173796; border-left: 1px solid #173796;}
.money_table table.table > tbody > tr+tr th {background:#0a2268; color:#ffffff; border-top: 1px solid #243E8A; border-bottom: 1px solid #243E8A; border-right: 1px solid #173796; border-left: 1px solid #173796;}
.money_table table.table > tbody > tr+tr+tr th,
.money_table table.table > tbody > tr+tr+tr td{background:#ffffff; color:#505050; border: 1px solid #dddddd;}
.money_table table.table > tbody > tr+tr+tr td+td{text-align:right;}
.money_table table .style01 span,
.money_table table span.style01{display:block; width:100%; height:100%; text-align:center; background:#0a2268; color:#ffffff;}

html > body .money_table_btn.on,
html > body .money_table_btn:hover,
html > body .money_table_btn:focus{background:#0a2268 !important; border-color:#0a2268 !important; color:#ffffff !important;}

.money_table+.money_table {display:none;}

html > body .money_list #InsertDiv {width: 100%;height: 400px;position: relative; overflow-x:auto;}
html > body .money_list #HiddenIframe {width: 800px;height: 100%; overflow: scroll; overflow-x:auto;/* Android 이중 스크롤 방지 */position:absolute; top:0; left:0;}


html > body .money_list #InsertDiv.off_menu {-webkit-overflow-scrolling: touch;}
html > body .money_list #InsertDiv.off_menu #HiddenIframe {-webkit-overflow-scrolling: touch;}

html > body .money_list #InsertDiv.on_menu {-webkit-overflow-scrolling: none;}
html > body .money_list #InsertDiv.on_menu #HiddenIframe {-webkit-overflow-scrolling: none;}




.sub04_3_p{font-family:'Nanum Gothic'; font-size:20px; font-weight:600; color:#0a2268; margin-top:40px;}
.sub04_3_p2{font-family:'Nanum Gothic'; font-size:16px; font-weight:600; color:#000; margin-top:15px;}
.sub04_3_p3{font-size:15px; letter-spacing:0.3px;}
.sub04_3_p3 span{padding-left:10px; display:block; font-size:14px; color:#808080; margin-bottom:5px;}